html, body {
    width: 99%;
    font-size: 1.32em;
}

button, #firstDescription, #secondDescription, #descriptionSpacer {
    font-size: 1.32em;
}

.dice {
    font-size: 2.5em;
}

button {
    touch-action: manipulation;
}

#roll {
    width: 50%;
    height: 100%;
}

#rollContainer {
    height: 500px;
}

table, tbody, tr {
    width: 100%;
}

table {
    border-spacing: 100px 10px;
    height: 100%;
}

td {
    width: auto;
}

#firstDie, #firstDescription {
    text-align: center;
}

#secondDie, #secondDescription {
    text-align: center;
}

#firstDescription {
    width: 33%;
}

#descriptionSpacer {
    width: 33%;
    text-align: center;
}

#secondDescription {
    width: 33%;
}

#imageContainer, #toggleContainer, #rollContainer {
    text-align: center;
}

#image {
    max-height: 800px;
}

#hideImageToggle {
    width: 400px;
    height: 150px;
}